 #img-mant{
 	position: relative;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  }

  #subtitle{
  	text-align: center;
  }

  #agupad{
  	padding: 0px;
  	padding-left: 15px;
  }

#muditem{
	align-items: center;
}